<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/Logo.jpg">
    <link rel="stylesheet" href="/css/AdminProfilePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-dVXBV1ouKrlv9fPoU4K6Dk3rOv8AhrFOpi2juGk8X0s63PMAntQvOv9qfmKiuOeW" crossorigin="anonymous">
    <title>ShopEx - Admin</title>
</head>

<body>
    <div id="nav">
        <div onclick="Landing()">
            <img src="/images/Logo.jpg" alt="">
            <h1>ShopEx</h1>
        </div>
        <div id="input">
            <i style="margin-left: 10px;" class="fa fa-search"></i>
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
        <button onclick="logout()">Logout</button>
    </div>
    <div id="content">
        <div id="tables">
            <div style="border-top-right-radius: 10px; background-color: rgb(90, 25, 152)">
                <h4>Product Table</h4>
            </div>
            <div style="border-bottom-right-radius: 10px;">
                <h4>User Table</h4>
            </div>
        </div>

        <div id="tableData">
            <table id="table">
                <tr id="head">
                    <th style="border-top-left-radius: 10px;">Product Id</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th>Seller Email</th>
                    <th style="border-top-right-radius: 10px;">Seller Name</th>
                </tr>
            </table>
        </div>
        <form id="form">
            <div id="actions">
                <div id="first" style="width: 60%;">
                    <input type="number" placeholder="id">
                    <button onclick="updateData()">Update</button>
                    <button type="submit">Delete</button>
                </div>
                <div id="second">
                    <input required type="text" placeholder="Product Name" value="">
                    <input required type="text" placeholder="Product Price">
                    <input required type="text" placeholder="Product Quantity">
                    <input required type="text" placeholder="Seller Email">
                    <input required type="text" placeholder="Seller Name">
                </div>
            </div>
        </form>
    </div>
</body>
<script src="/css/AdminProfilePage.js"></script>

</html>