<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ForgotPasswordPage.css">
    <link rel="icon" type="image/png" href="/images/Logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-dVXBV1ouKrlv9fPoU4K6Dk3rOv8AhrFOpi2juGk8X0s63PMAntQvOv9qfmKiuOeW" crossorigin="anonymous">
    <title>ShopEx - Forgot Password</title>
</head>

<body>
    <div id="Logo" onclick="Landing()">
        <img src="/images/Logo.jpg" alt="Logo">
        <h1>ShopEx</h1>
    </div>
    <form id="form">
        <section>
            <div id="container">
                <h1>Forgot Password</h1>
                <p>Enter your email and we will send you a verification code to reset your password.</p>
                <div id="input">
                    <i class="fa fa-solid fa-envelope"></i>
                    <label for="email"></label>
                    <input required type="text" name="email" id="email" placeholder="example@gmail.com">
                </div>
                <p class="validEmail">Please enter a valid email.</p>
                <p class="validEmail">Please wait.</p>
                <button type="submit">Submit</button>
                <div id="back">
                    <i class="fa fa-chevron-left"></i>
                    <a href="/LoginPage.html">Back to Login</a>
                </div>
            </div>
        </section>
    </form>
    <div id="footer">
        <p>Made By Husnain Mahmood</p>
    </div>
</body>
<script>
    const p = document.querySelectorAll('#container p');
    document.querySelector("#input input").addEventListener("input", function () {
        p[1].style.display = "none";
    })
    document.getElementById("form").addEventListener("submit", function (event) {
        event.preventDefault();
        const emailInput = document.getElementById("email");
        let email = emailInput.value.trim();
        if (!isValidEmail(email)) {
            p[1].style.display = "block";
            emailInput.focus();
            return false;
        }
        p[2].style.display = "block";
        checkEmail();
    });
    function isValidEmail(email) {
        const emailRegex = /^[^\s@]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$/;
        return emailRegex.test(email);
    }
    function Landing() {
        window.location.href = "/LandingPage.html";
    }
    function checkEmail() {
        const email = document.getElementById("email").value;
        console.log(email);
        fetch("/checkMail", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ email: email }),
        })
            .then((response) => {
                if (!response.ok) {
                    console.log("Fails to fetch");
                    throw new Error("Failed to get Data");
                }
                return response.json();
            })
            .then((data) => {
                window.location.href = "/PasswordRecovery.html";
            })
            .catch((error) => {
                console.error("Error fetching data:", error);
            });
    }

</script>

</html>