<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/Logo.jpg">
    <link rel="stylesheet" href="/css/GetData.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-dVXBV1ouKrlv9fPoU4K6Dk3rOv8AhrFOpi2juGk8X0s63PMAntQvOv9qfmKiuOeW" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans&display=swap" rel="stylesheet">

    <title>ShopEx - Enter Data</title>
</head>

<body>
    <div id="container">
        <div id="sec1">
            <h1 style="font-family: Comic Sans Ms;"><img style="width: 30px; margin-right: 5px" src="/images/Logo.jpg"
                    alt="">Welcome to ShopEx</h1>
            <h3>Please fill out your details to continue</h3>
        </div>
        <div id="sec2">
            <form id="form">
                <label for="fname"></label>
                <input required id="fname" name="fname" type="text" placeholder="FirstName*">
                <label for="lname"></label>
                <input required id="lname" name="lname" type="text" placeholder="LastName*">
                <p id="validName" class="errors">Please enter a valid firstname or lastname.</p>
                <label for="email"></label>
                <input required style="width: 300px;" id="email" name="email" type="email" placeholder="Email*">
                <p id="validEmail" class="errors">Please enter a valid email.</p>
                <label for="phone"></label>
                <input required id="phone" name="phone" type="text" placeholder="Phone*">
                <p id="validPhone" class="errors">Please enter a valid phone number.</p>
                <p id="exists" class="errors">Phone number already exists.</p><br>
                <label for="password"></label>
                <input required id="password" name="password" type="password" placeholder="Password*">
                <label for="confirm"></label>
                <input required id="confirm" name="confirm" type="password" placeholder="Confirm Password*">
                <p id="validPassword" class="errors">Password length must be greater than 8 characters.</p>
                <p id="match" class="errors">Passwords do not match.</p>
                <div id="show">
                    <i id="chk1" class="fa fa-regular fa-square" style="color: black;"></i>
                    <i id="chk2" class="fa fa-regular fa-square-check" style="color: black;"></i>
                    <p>Show Password</p>
                </div>
                <div id="btn">
                    <button type="submit">Continue</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const queryString = window.location.search;
        const urlParams1 = new URLSearchParams(queryString);
        let firstName = urlParams1.get("firstName");
        let lastName = urlParams1.get("lastName");
        let email = urlParams1.get("email");
        document.getElementById("fname").value = firstName;
        document.getElementById("lname").value = lastName;
        document.getElementById("email").value = email.slice(0, -1);
    });
    document.getElementById("form").addEventListener("submit", function (event) {
        event.preventDefault();
        var fname = document.getElementById("fname").value;
        var lname = document.getElementById("lname").value;
        var email = document.getElementById("email").value;
        var phone = document.getElementById("phone").value;
        var password = document.getElementById("password").value;
        var confirm = document.getElementById("confirm").value;
        let flag = false;
        if (!/^[a-zA-Z]+$/.test(fname)) {
            document.getElementById("validName").style.display = "block";
            flag = true;
        }
        if (!/^[a-zA-Z]+$/.test(lname)) {
            document.getElementById("validName").style.display = "block";
            flag = true;
        }
        if (!isValidEmail(email)) {
            document.getElementById("validEmail").style.display = "block";
            flag = true;
        }
        if (!isValidPhone(phone)) {
            document.getElementById("validPhone").style.display = "block";
            flag = true;
        }
        if (password.length < 8) {
            document.getElementById("validPassword").style.display = "block";
            flag = true;
        }
        if (password != confirm) {
            document.getElementById("match").style.display = "block";
            flag = true;
        }
        if (flag) {
            return;
        }
        fetch('/AddUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                fname: fname,
                lname: lname,
                email: email,
                phone: phone,
                password: password,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('exists').style.display = 'block';
                    return;
                }
                window.location.href = `/ProfilePage.html?data=${encodeURIComponent(JSON.stringify(data.userData))}`;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
    function isValidEmail(email) {
        const emailRegex = /^[^\s@]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$/;
        return emailRegex.test(email);
    }
    function isValidPhone(phone) {
        const phoneRegex = /^03\d{9}$/;
        return phoneRegex.test(phone);
    }
    let m = document.getElementById("chk1");
    let n = document.getElementById("chk2");
    m.addEventListener("click", function () {
        m.style.display = "none";
        n.style.display = "block";
        document.getElementById("password").type = "text";
        document.getElementById("confirm").type = "text";
    });
    n.addEventListener("click", function () {
        n.style.display = "none";
        m.style.display = "block";
        document.getElementById("password").type = "password";
        document.getElementById("confirm").type = "password";
    });
    const fname = document.getElementById("fname");
    const lname = document.getElementById("lname");
    const email = document.getElementById("email");
    const phone = document.getElementById("phone");
    const password = document.getElementById("password");
    const confirm = document.getElementById("confirm");
    let flag = false;
    fname.addEventListener('input', function () {
        document.getElementById('validName').style.display = 'none';
    });
    lname.addEventListener('input', function () {
        document.getElementById('validName').style.display = 'none';
    });
    email.addEventListener('input', function () {
        document.getElementById('validEmail').style.display = 'none';
    });
    phone.addEventListener('input', function () {
        document.getElementById('validPhone').style.display = 'none';
        document.getElementById('exists').style.display = 'none';
    });
    password.addEventListener('input', function () {
        document.getElementById('validPassword').style.display = 'none';
    });
    confirm.addEventListener('input', function () {
        document.getElementById('match').style.display = 'none';
    });

</script>

</html>