<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/EmailVerificationPage.css">
    <link rel="icon" type="image/png" href="/images/Logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-dVXBV1ouKrlv9fPoU4K6Dk3rOv8AhrFOpi2juGk8X0s63PMAntQvOv9qfmKiuOeW" crossorigin="anonymous">
    <title>ShopEx - Verification</title>
</head>

<body>
    <div id="Logo">
        <img src="/images/Logo.jpg" alt="Logo">
        <h1>ShopEx</h1>
    </div>
    <section>
        <div id="container">
            <form action="http://localhost:3000/forgotVerify" method="post">
                <h1>Verification</h1>
                <p>Enter six digit code sent to your email.</p>
                <div id="input">
                    <i class="fa fa-solid fa-lock"></i>
                    <label for="code"></label>
                    <input required type="text" name="code" id="code" placeholder="Code">
                </div>
                <button type="submit" onclick="validateForm()">Submit</button>
            </form>
        </div>
    </section>
    <div id="footer">
        <p>Made By Husnain Mahmood</p>
    </div>
</body>
<script src="/css/EmailVerificationPage.js"></script>

</html>